body {
  background-color: lightskyblue;

}

h1 {
    color: navy;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 40px;
    text-decoration: overline underline;
}

h2 {
    color: navy;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-decoration: underline;
}

h3 {
    color: navy;
    font-family:'Courier New', Courier, monospace;
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

h4 {
    color: navy;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

p {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

img {
    align-items: center;
}



a:hover {
    color:red;
}
nav {
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    
    background: linear-gradient(to top, lightskyblue, whitesmoke);
  }